<form th:fragment="frg-home-search" th:action="@{/searchByProfession}" method="GET" class="form-signin">

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 input-group">
		<span class="input-group-addon" id="basic-addon1">Find</span> <input type="text" id="ac-professions" th:placeholder="Profession"
			class="form-control" th:value="${pSearchProfessionTitle}" name="pSearchProfessionTitle"> <span class="input-group-btn">
			<button class="btn btn-primary btn-block" type="submit">
				<i class="fa fa-search"></i>
			</button>
		</span>
	</div>

</form>
