<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="professional/layout :: head(~{this :: title}, ~{this :: .custom-link})">
<title>Task List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link class="custom-link" th:href="@{/style/css/professional.css}" />

<script class="custom-script" th:src="js/professional.js"></script>
</head>

<body>

	<header th:insert="professional/layout :: header(~{ :: .breadcrumb})">
		<ol class="breadcrumb container">
			<li><a href="#">Home</a></li>
			<li><a href="#">Professionals</a></li>
			<li><a href="#">Write a Review</a></li>
		</ol>
	</header>

	<div th:insert="professional/layout :: content(~{ :: #new-review-form})">

		<form action="#" th:action="@{/saveReview}" th:object="${review}" method="post">

			<div id="new-review-form" class="grid">

				<div class="row">
					<div id="new-review-prof-detail">

						<div class="list-group">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
								<a href="#" th:title="${review.reviewAbout.name}"> <img class="thumbnail"
									th:src="${imageGen.getProfileImage(review.reviewAbout.user.displayPicture)}" />
								</a>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
								<p>
									<i class="fa fa-envelope"></i><span th:text="${review.reviewAbout.name}" class="text-primary thumbnail-main-label"></span><br>
									<i class="fa fa-envelope"></i><span th:text="${review.reviewAbout.profession.title}"></span><br> <i class="fa fa-envelope"></i><a
										href="mailto:${review.reviewAbout.user.email}" target="_top"><span th:text="${review.reviewAbout.user.email}"></span></a><br>
									<i class="fa fa-phone-square"></i><a href="tel:${review.reviewAbout.mobile}" target="_top"><span
										th:text="${review.reviewAbout.mobile}"></span></a><br>

								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div id="new-review-rating"></div>
				</div>

				<div class="row">

					<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
						<label for="exampleTextarea">Review</label>
						<textarea class="form-control" id="new-review-comments" rows="20" th:field="*{review.review}"></textarea>
					</div>

				</div>

				<div class="row">
					<div id="review-form-ctrls form-group">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>

		</form>

	</div>

	<footer th:replace="professional/layout :: footer">Footer</footer>
</body>
</html>