<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="professional/layout :: head(~{this :: title}, ~{this :: .custom-link})">
<title>Review Hub</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link class="custom-link" rel="stylesheet" media="screen" th:href="@{/style/css/professional.css}" />

<script class="custom-script" th:src="js/professional.js"></script>
</head>

<body>

	<header th:insert="professional/layout :: header(~{ :: .breadcrumb})">
		<ol class="breadcrumb container">
			<li><a href="#">Home</a></li>
			<li><a href="#">Professionals</a></li>
			<li><a href="#">Write a Review</a></li>
		</ol>
	</header>

	<div th:insert="professional/layout :: content(~{::#page-content-root})">

		<div id="page-content-root" class="page-content-roots">

			<form th:fragment="frg-home-search" th:action="@{/searchByProfession}" method="GET" class="form-signin">



				<div id="new-review-form" class="grid">




					<div id="new-review-prof-detail">

						<div class="search-result default-search-result">
							<div class="rxh-listing-large" style="display: inline-block;">

								<div class="main-attributes search-item-left-block">
									<div class="search-item-block">
										<div class="r-avatar">
											<div class="photo-box">
												<img th:src="${imageGen.getProfileImage(review.reviewAbout.user.displayPicture)}" />
											</div>
										</div>
										<div class="r-detail">
											<h3 class="search-result-title">
												<span class="indexed-rxh-name"><a class="rxh-name js-analytics-click"> <span th:text="${review.reviewAbout.name}"></span></a>
												</span> <span class="indexed-rxh-name"><a class="rxh-prof-title js-analytics-click"><span
														th:text="${review.reviewAbout.profession.title}"></span></a></span>
											</h3>
											<div class="rxh-rating rxh-rating-large clearfix">
												<div class="i-stars i-stars--regular-1 rating-large" title="4.0 star rating">
													<img class="offscreen" height="303" width="84">
												</div>
												<span class="review-count rating-qualifier" th:text="${review.reviewAbout.reviewCount}"></span>
											</div>

										</div>
									</div>
								</div>

								<div class="secondary-attributes search-item-right-block">
									<div class="contacts-items">
										<span class=""> <i class="contacts-item fa fa-envelope dark-blue"></i><span class="dark-indigo"
											th:text="${review.reviewAbout.user.email}"></span><br /> <i class="contacts-item fa fa-phone-square dark-green"></i><span
											class="dark-indigo" th:text="${review.reviewAbout.mobile}"></span><br />
										</span>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div id="new-review-rating"></div>


					<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-6">
						<label>Review</label>						
						<textarea class="form-control" id="new-review-comments" rows="20" th:field="*{review.review}"></textarea>
					</div>


					<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>

			</form>

		</div>

	</div>

	<footer th:replace="professional/layout :: footer">Footer</footer>
</body>
</html>