@charset "UTF-8";

.img-circle {
    border-radius: 50%;
}

.inline_rating .ui-rating-star {
	display: inline-table !important;
}

.inline_rating {
	display: inline-block;
}

.inline_lbl {
	padding-right: 10px;
}

.panel_wb {
	border: 1px solid #DCE1E7 !important;
}

.panel_wb .ui-widget-content {
	border: none !important;
}

.text-gray {
	color: #777777;
	font-size: 0.9em;
}

/* STAR-OF: LANDING-USER-SIGNUP */
.user-singup-lbl {
	color: #777777;
	font-size: 12px;
}

.user-singup-segment {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 60px 0 75px 0;
	color: #292b2c;
}

.user-singup-segment>div .user-singup-content {
	text-align: left;
}

.user-singup-content .user-singup-header {
	height: 47px;
	position: relative;
}

.user-singup-segment>div .user-singup-content user-singup-header img {
	position: absolute;
	bottom: 0;
}

.user-singup-segment>div .user-singup-content h3 {
	font-size: 18px;
}

.user-singup-segment>div .user-singup-content p {
	font-size: 14px;
	margin: 6px 0 0 0;
}

.user-singup-segment>div .user-singup-content .ui-g-12 {
	padding: 20px;
}
/* END-OF: LANDING-USER-SIGNUP */